<%= form_for(gatca) do |f| %>
  <% if gatca.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gatca.errors.count, "error") %> prohibited this gatca from being saved:</h2>

      <ul>
      <% gatca.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
